In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore', category=FutureWarning)

In [3]:
df1 = pd.read_csv('data1.csv')
df1.head()

   bust  hips  waist  height  gender
0    31    35     27      63  female
1    37    42     31      62  female
2    41    52     36      63  female
3    33    36     27      61  female
4    32    37     27      66  female

In [4]:
df2= pd.read_csv('data2.csv')
df2.head()

   gender  bust  waist  hips  height
0  female    16     10    15      53
1  female    18     11    30      47
2  female    18     16    18      60
3  female    16     12    28      49
4  female    19     23    27      58

In [7]:
# merge both datasets
data = pd.merge(df1, df2, on=['bust', 'waist', 'hips', 'height', 'gender'], how= 'outer')
data.head()

   bust  hips  waist  height  gender
0     8     8      7      24  female
1     8    19     14      63  female
2     9    20     17      49  female
3     9    45     41      60  female
4    10    11      9      46  female

In [8]:
data.shape

(96, 5)

In [9]:
data.isnull().sum()

bust      0
hips      0
waist     0
height    0
gender    0
dtype: int64

In [10]:
data.to_csv('body_type_merged_data.csv', index=False)